<!DOCTYPE html>
<html>
    <head>
        <title>{%block title %} AGriculture Automted Monitory System {% endblock %}</title>

    </head>
    <body>
        <nav>
            <a href="{{url_for('index')}}" >INDEX PAGE</a>
            <a href="{{url_for('analytics')}}"> ANALYTICS PAGE</a>
            <a href="{{url_for('crop')}}" >CROP PAGE</a>
            <a href="{{url_for('motor')}}">MOTOR PAGE</a>
            <a href="{{url_for('dashboard')}}">DASHBOARD PAGE</a>
            <a href="{{url_for('login')}}">LOGIN PAGE</a>
            <a href="{{url_for('weather')}}">WEATHER PAGE</a>
            <a href="'{{url_for('details')}}">DETAILS PAGE</a>
        
        </nav>
        </hr>
        
        {% block content %}
        {% endblock %}
    <hr>
    <small>Agriculture Automated  MOnitory System</small>    
    </body>
    </body>
</html>