<!DOCTYPE html>
<html>
    <head>
        <link href ="http://cdn.j
        <style>
            .box  {
                  background:blue;
                  color:white;
                  padding:20px;
                  text-aling-crnter
                  margin-bottom:10px;
                  border-radius:8px;
            }
        </style>
    </head>
    <body class="p-4">
        <h2>Grid Demo</h2>
        <div class  ="row mb-3">
            <div class="col-md-12">
                <div class ="box">full width</div>div>
            </div>
        </div>

        <div class ="row mb-3>
            <div class ="col-md-6">
                <div class="box">colunm 1</div>
        <div class ="col-md-6">
            <div class="box">colunm 2]\
                
            </div>
            </div>
    </body>
</html>