{% extends "baseofhtml.html" %}

{% block title %}
Home
{% endblock %}

{% block content %}

<div class="container mt-5">

    <div class="text-center">
        <h1>🌾 Automatic Agriculture Monitoring System</h1>

        <p class="lead">
            Smart Farming Dashboard
        </p>
    </div>

    <div class="card shadow mt-4">
        <div class="card-body">

            <h3>👨‍🌾 Farmer Overview</h3>

            <p><b>Name:</b> {{ farmer.name }}</p>

            <p><b>Age:</b> {{ farmer.age }}</p>

            <p><b>Location:</b> {{ farmer.location }}</p>

            <p><b>Crop:</b> {{ farmer.crop }}</p>

            <p><b>Crop Yield:</b> {{ farmer.crop_yield }} Kg</p>

        </div>
    </div>

    <div class="row mt-4">

        <div class="col-md-3 mb-3">
            <a href="/farmer" class="btn btn-success w-100">
                👨‍🌾 Farmer Info
            </a>
        </div>

        <div class="col-md-3 mb-3">
            <a href="/weather" class="btn btn-primary w-100">
                🌦️ Weather
            </a>
        </div>

        <div class="col-md-3 mb-3">
            <a href="/motor" class="btn btn-danger w-100">
                🚰 Motor Control
            </a>
        </div>

        <div class="col-md-3 mb-3">
            <a href="/crop" class="btn btn-warning w-100">
                🌱 Crop Recommendation
            </a>
        </div>
         <div class="col-md-3 mb-3">
            <a href="/records" class="btn btn-warning w-100">
                Records
                
            </a>
        </div>

    </div>

</div>

{% endblock %}