{% extends 'baseofhtml.html' %}
{% block content %}
<div class="container mt-5">
<form method="POST" action="/search" class="row g-2">
<div class="col-md-5"><input class="form-control" name="search" placeholder="Search crop/farmer"></div>
<div class="col-md-4">
<select class="form-select" name="village">
<option value="">All Villages</option>
<option>Nagpur</option><option>Pune</option><option>Nashik</option><option>Aurangabad</option>
</select></div>
<div class="col-md-3"><button class="btn btn-success w-100">Search</button></div>
</form>
{% if records %}
<table class="table table-bordered mt-4">
<tr><th>ID</th><th>Crop</th><th>Farmer</th><th>Village</th><th>Date</th></tr>
{% for row in records %}
<tr><td>{{row['id']}}</td><td>{{row['crop_name']}}</td><td>{{row['farmer_name']}}</td><td>{{row['village']}}</td><td>{{row['date']}}</td></tr>
{% endfor %}
</table>
{% else %}<h4 class="text-danger mt-4">No Record Found</h4>{% endif %}
</div>{% endblock %}